body {
  font-family: Lemonada !important;
  font-weight: 400 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ToDo.JS */
.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background-color: #282c34 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 4);
}

.todoCard {
  transition: all 0.2s !important;
}

.todoCard:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 4);
}
/* ===== ToDo.JS ==== */

/* ============ custom fonts ================= */
@font-face {
  font-family: Lemonada;
  src: url("/public/fonts/Lemonada-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Lemonada;
  src: url("/public/fonts/Lemonada-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Lemonada;
  src: url("/public/fonts/Lemonada-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Lemonada;
  src: url("/public/fonts/Lemonada-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Lemonada;
  src: url("/public/fonts/Lemonada-Bold.ttf");
  font-weight: 700;
}
/* ============ custom fonts ================*/
